body {
  background-color: #f0e6e6; /* pastel pink */
  color: #595959; /* dark gray */
  font-family: Arial, sans-serif;
}

#btn {
  display: block;
  background: #80cbc4; /* pastel blue */
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#btn:hover {
  background: #9fa8da; /* lighter pastel blue */
}

#joke-container {
  background: #ffd4d4; /* pastel pink */
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(196, 52, 52, 0.1);
  text-align: center;
}

.category,
.type,
.setup,
.delivery,
.lang,
.safe {
  margin: 10px;
}

.setup {
  color: #595959; /* dark gray */
}

.delivery {
  color: #388e3c; /* green */
}

.flags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  list-style: none;
}

.flags li {
  background: #ffd180; /* pastel orange */
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.flags li:hover {
  background: #e0e0e0; /* light gray */
}

.flags li.true:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #43a047; /* darker green */
  border-radius: 50%;
  margin-right: 10px;
}

.flags li.false:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d32f2f; /* darker red */
  border-radius: 50%;
  margin-right: 10px;
}

.lang {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.safe::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #9575cd; /* pastel purple */
  border-radius: 50%;
  margin-right: 10px;
}

.unsafe::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d32f2f; /* darker red */
  border-radius: 50%;
  margin-right: 10px;
}

.hide {
  display: none;
}

.img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
